<!DOCTYPE html>
<html>

<head>

<title>Contact Us</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<section class="contact-section">

<div class="contact-container">

<div class="contact-left">

<h1>
Get In Touch
</h1>

<p>
We are available 24/7 to help you with rides,
support, bookings, and travel assistance.
</p>

<div class="contact-info">

<h3>📍 Lahore, Pakistan</h3>

<h3>📞 +92 300 1234567</h3>

<h3>✉ support@travagoride.com</h3>

</div>

</div>

<div class="contact-right">

<form class="contact-form">

<h2>
Send Message
</h2>

<input type="text"
placeholder="Your Name">

<input type="email"
placeholder="Your Email">

<input type="text"
placeholder="Phone Number">

<textarea rows="6"
placeholder="Your Message"></textarea>

<button>
Send Message
</button>

</form>

</div>

</div>

</section>

</body>
</html>