<!DOCTYPE html>
<html>

<head>

<title>Driver Signup</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<div class="form-page">

<form class="modern-form">

<h1>Driver Signup</h1>

<input type="text"
placeholder="Full Name">

<input type="email"
placeholder="Email">

<input type="text"
placeholder="Contact Number">

<input type="text"
placeholder="Vehicle Type">

<input type="password"
placeholder="Password">

<button>
Register Driver
</button>

</form>

</div>

</body>
</html>